body {
	font-family: Arial;
	font-weight: bold;
	background-color: #FFFFCC;
	color: #006600;
}

table {
	font-weight: bold;
}

input {
	color: #006600;
}

select {
	color: #006600;
}

a:link { color:green; }
a:visited { color:orange; }
a:hover { color:orange; }
a:active { color:red; }
